<!doctype html>
<html>
  <head>
    
    
    
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>

  <body id="layout">

    



    <header>
      <div class="navbar">
        <div class="logo"><a href="#">WorkoutRE</a></div>
        <ul class="listLinks">
          <li><a href="/home">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/myWorkouts">My Workouts</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="side_btn">
          <i class="fa-solid fa-bars"></i>
        </div>

        <div class="dropdown">
          <li><a href="/home">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/myWorkouts">My Workouts</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
        
      </div>
    </header>
    
    <main>
      <div class="workoutContainer">
        
      </div>
      
    </main>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
      {% endif %}
    {% endwith %}

    <div class="container" id="content">{% block content %}{% endblock %}</div>











    

    
  </body>

  <script>
    const toggleSideBtn = document.querySelector(".side_btn")
    const Dropdown = document.querySelector(".dropdown")

    toggleSideBtn.onclick = function () {
      Dropdown.classList.toggle('open')
    }

  </script>
</html>

